
@{
    ViewData["Title"] = "Oppa";
}

<br />
<br />
<br />
<br />
<div class="media">
    <img class="align-self-start mr-3" height="64" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcimdQxtRbdPmZeDKor_4YU8O1oWWxE_S-9g&usqp=CAU" alt="Generic placeholder image">
    <div class="media-body">
        <h3 class="mt-0" style="color:darkcyan">Made for Oppa</h3>
        <p style="color:darkcyan">by xPaw</p>
    </div>
</div>