@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid overflow-hidden">
    <div class="row">
        <div class="col">
            <div class="row">
                <div class="col">
                    <a class="btn btn-lg btn-block p-xl-5 btn-outline-secondary" href="@Url.Action("Mobile","Home")">მობილურის ბალანსის შევსება</a>
                    <a class="btn btn-lg btn-block p-xl-5 btn-outline-success" href="@Url.Action("CharityOrTaxes","Home")">კომუნალურები / ქველმოქმედება</a>
                </div>                                                    
            </div>                                                        
        </div>                                                            
        <div class="col">                                                 
            <div class="row">
                <div class="col">
                    <button onclick="location.href='@Url.Action("Finances","Home")'" type="button" class="btn btn-lg btn-block p-xl-5 btn-outline-dark">ფინანსური მომსახურება</button>
                    <button onclick="location.href='@Url.Action("Credits","Home")'" type="button" class="btn btn-lg btn-block p-xl-5 btn-outline-primary">დამატებითი ინფორმაცია</button>
                </div>
            </div>
        </div>
    </div>
</div>