@{
    ViewData["Title"] = "მობილური";
}

@using (Html.BeginForm())
{
<fieldset>
    <legend>მობილურის ბალანსის შევსება</legend>

    <div>
        <label>მობილურის ნომერი</label>
        <input data-val="true" maxlength="9" class="form-control" data-val-required="The Number field is required." id="Number" name="Number" type="text" placeholder="5XXXXXXXX"/>
    </div>

    <div>
        <label>თანხა</label>
        <input data-val="true" maxlength="3" class="form-control" data-val-number="The field Amount must be a number." data-val-required="The Amount field is required." id="Amount" name="Amount" type="text" placeholder="შეიყვანეთ თანხა 1-დან 100-მდე" />
    </div>

    <br />

    <input class="btn btn-primary" type="submit" value="ჩარიცხვა" />

</fieldset>
}